@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 7px 10% 10px 7%;
  height: 50px;
  font-size: 11px;
  justify-content: space-between;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 5px;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 70px;
  height: auto;
}

a:hover {
  color: #666;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 15px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.search-box-container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: blue;
}

.search-box {
  border: none;
  outline: none;
  padding: 5px 25px;
  margin-right: 5px;
  background-color: #ebebeb;
  border-radius: 15px;
  font-size: 11px;
  color: black;
  width: 200px;
  height: 20px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #999;
}
.mic-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}
.icon-container {
  display: flex;
  flex-direction: column;
  font-size: 9px;
}

.icon {
  margin-bottom: 5px;
  margin-top: 5px;
  height: 15px;
}
