@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 7px 5% 0px 5%;
  height: 50px;
  font-size: xx-small;
  justify-content: space-between;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 5px;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px;
  height: auto;
}

a:hover {
  color: #666;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 15px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.search-box-container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: blue;
}

.search-box {
  border: none;
  outline: none;
  padding: 5px 25px;
  margin-right: 5px;
  background-color: #ebebeb;
  border-radius: 15px;
  font-size: 9px;
  color: black;
  width: 160px;
  height: 15px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #999;
}
.mic-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #999;
}
.icon-container {
  display: flex;
  flex-direction: column;
  font-size: 7px;
}

.icon {
  margin-bottom: 5px;
  margin-top: 5px;
  height: 10px;
}

.cover-container {
  display: flex;
}
.image-container {
  position: relative;
  width: 1fr;
}
.cover-image {
  width: 100%;
  margin: 0%;
  height: auto;
}
.cover-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover-title {
  width: 20%;
  line-height: 1.3;
  margin: 10px 0px;
}
.cover-text {
  margin: 0px 0px 10px 0px;
  width: 24%;
  line-height: 1.3;
}
.cover-content p {
  font-size: xx-small;
}

.mobile-cover-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-cover-title {
  width: 51%;
  line-height: 1.5;
  margin: 20px 0px;
  text-align: center;
  letter-spacing: 1.5px;
}
.mobile-cover-text {
  margin: 0px 0px 20px 0px;
  width: 85%;
  line-height: 1.5;
  text-align: center;
  font-size: large;
  letter-spacing: 1.5px;
}

.btn-test-drive-mobile {
  margin: 20px auto;
  border-radius: 5px;
  height: 60px;
  width: 85%;
  padding: auto;
  font-size: larger;
  font-weight: bold;
  background-color: #00e2c9;
  color: #013a3c;
  border: none;
}

.card-area h5 {
  margin-left: 5%;
  font-weight: bold;
  font-size: 15px;
}
.btn-test-drive {
  margin-top: 10px;
  border-radius: 5px;
  height: 25px;
  width: 90px;
  padding: auto;
  font-size: xx-small;
  font-weight: bold;
  background-color: #00e2c9;
  color: #013a3c;
  border: none;
}
.modal {
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  color: #222222;
}
.modal-content input {
  width: 200px;
  display: block;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 10px auto 20px auto;
}
.card {
  display: inline-block;
  margin: 5px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 24%;
}

.card-image {
  width: 100%;

  object-fit: cover;
}

.card-title {
  font-size: small;
  font-weight: bold;
  margin-left: 5px;
}

.card-price {
  font-size: x-small;
  margin-top: 5px;
}

.card-bullets {
  margin-top: 10px;
  padding-left: 0;
  font-size: xx-small;
}

.card-bullets li {
  list-style-type: disc;
  margin-left: 15px;
}

.interior-container {
  margin: 10px 0px 0px 0px;
  height: 250px;
  background-color: #ebebeb;
  display: flex;
}
.interior-content-container {
  display: flex;
  top: 50%;
  margin-left: 7%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.interior-image-container {
  padding: auto auto;
  width: 50%;
  display: flex;
  align-items: center;
  margin-right: 7%;
}
.interior-image {
  height: 65%;
  width: auto;
  border-radius: 5px;
}

.interior-title {
  width: 85%;
  line-height: 1.3;
  margin: 10px 0px;
}
.interior-text {
  margin: 0px 0px 10px 0px;
  width: 75%;
  line-height: 1.3;
}
.interior-content-container p {
  font-size: xx-small;
}
.btn-request-video {
  margin-top: 10px;
  border-radius: 5px;
  height: 25px;
  width: 145px;
  padding: auto;
  font-size: xx-small;
  font-weight: bold;
  background-color: #00e2c9;
  color: #013a3c;
  border: none;
}
.electrify-container {
  height: 250px;
  background-color: #222222;
  display: flex;
}
.electrify-content-container {
  display: flex;
  top: 50%;
  margin: 0 7% 0 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.electrify-image-container {
  padding: auto auto;
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 7%;
}
.electrify-image {
  height: 70%;
  width: auto;
  border-radius: 5px;
}

.electrify-title {
  color: white;
  width: 75%;
  line-height: 1.3;
  margin: 10px 0px;
}
.electrify-text {
  margin: 0px 0px 10px 0px;
  width: 75%;
  line-height: 1.3;
  color: white;
}
.electrify-content-container p {
  font-size: xx-small;
}
.electrifying-container {
  display: flex;
  flex-direction: column;
  color: white;
}
.electrifying-container h3 {
  margin-bottom: 0px;
}
.electrifying-container p {
  font-size: xx-small;
  width: 90px;
  margin-top: 5px;
  margin-left: 0px;
}
.time-container {
  display: flex;
}
.electrifying-container2 {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 20px;
}
.electrifying-container2 p {
  font-size: xx-small;
  width: 90px;
  margin-top: 5px;
  margin-left: 0px;
}
.electrifying-container2 h3 {
  margin-bottom: 0px;
}

.hamburger-menu {
  display: none;
}

.menu-items {
  display: none;
}
.cover-mobile {
  display: none;
}

@media (max-width: 550px) {
  .hamburger-menu {
    display: flex;
    height: 45px;
    /* Add styling for the hamburger icon */
  }
  .image-container {
    display: none;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: none;
  }
  .hamburger-icon {
    margin: 13px;
    height: 20px;
  }
  .cover-mobile {
    display: flex;
    flex-direction: column;
    background-color: #222222;
  }
  .mobile-cover-content {
    height: 360px;
  }
}
